@CHARSET "UTF-8";

@media only screen and (min-width : 768px) {
	/* デスクトップ表示ではホバー操作でドロップダウンを表示 */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.jumbotron {
	background-image: url("../images/jumbotron.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* sidenavbar ドロップダウン(子)のボックスカラー */
.dropdown-menu {
	background-color: #2c3e50;
	border: 1px solid #202d3b;
	border: 1px solid #202d3b(0, 0, 0, .15);
	-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
	box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}
/* navbar ドロップダウン(子)テキストカラー */
.dropdown-menu li a {
	color: #ffffff;
}
/* navbar ドロップダウン(子)focus,hover時のカラー */
.dropdown-menu li a:focus, .dropdown-menu li a:hover {
	color: #18bc9c;
	background-color: transparent;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #BDC0BA;
}