@charset "UTF-8";

/* ======== レイアウト ======== */

article {
 /* articleの配置(幅/高さ/回り込み) */
 width:647px;
 height:600px; 
 float:left;
}

h1 {
 /* h1のスタイル設定(高さ/余白/太字/フォントカラー/背景画像) */
 height:48px;
 margin:0px 0px 5px 0px;
 padding:6px 0px 0px 10px;
 font-weight:bold;
 color:#0000cd;
 background-image: url("../images/headline1.gif");
}

article h3 {
 /* article配下 h3のスタイル設定(高さ/余白//太字/フォントカラー/背景画像) */
 height:24px;
 margin:0px 0px 5px 0px;
 padding:6px 0px 0px 10px;
 font-weight:bold;
 color:#555555;
 background-image: url("../images/headline3.gif");
}

/* ======== メニュー ======== */

nav ul {
 /* nav配下 ulのスタイル設定(余白なし) */
 margin: 0px;
 padding: 0px;
}

nav li {
 /* nav配下 liのスタイル設定(回り込み/マーカーなし/テキスト中央揃え/境界線) */
 float:left;
 list-style-type:none;
 text-align:center;
 border-left:1px solid #fff;
}

nav li a {
 /* nav li配下  aのスタイル設定(ブロック要素/幅/フォントカラー/行間隔/アンカーの下線取り除き/背景色) */
 display:block;
 width:212px;
 color:#fff;
 line-height:40px;
 text-decoration:none;
 background-color:#0000cd;
}

nav li a:hover {
 /* アンカーホバー時の効果 */
 color:#fff;
 text-decoration:none;
 background-color:#6495ed;
}

#logo{
 float:right;
}

